.dashbaord {
  
}
.graph-img {
  width: 100%;
  height: auto;
}

.table-title {
  background: #B6D3FF;
  font-weight: 700;
}

.data-title {
  background: #979aa1;
  font-weight: 700;
}

table {
  margin: 30px 0;
  border-color: #F4F4F4;
  background: #F4F4F4;

}


td {
  padding: 8px 25px;
}

h5 {
  font-weight: 700;
}